mixin icon(iconName, type = 'png')
    if(type == 'png')
        i(class='icon '+'icon-'+iconName)
    else
        i(class='svg-icon '+'svg-'+iconName)

//
// ниже для примера
//
mixin sliderSimple(json)
  each data in json
    .swiper-slide #{data.name}

mixin slider(classSlider, pagination,navigation,scrollbar)
  div(class=classSlider).swiper-container
    .swiper-wrapper
      block
    if(pagination)
      .swiper-pagination
    if(navigation)
      .swiper-button-prev
      .swiper-button-next
    if(scrollbar)
      .swiper-scrollbar


mixin lilac-btn-180(text, link)
  a(href=link).lilac-btn.lilac-btn--wd-180
    .text.text--iter-defolt=text

mixin slider-btn(prev, next, mod)
  .slider-button-conteiner(class=mod)
    .slider-button-prev(class=prev)
      svg(width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M30.728 12.3962L30.728 14.7234H5.64797L14.5453 26.7473H11.8335C10.9222 26.7473 10.0625 26.3131 9.50656 25.572L8.76414 24.5824L8.68763 24.6147L0.494844 13.5609L0.495134 13.5605L0.494844 13.56L8.68763 2.50623L8.76414 2.53854L9.50656 1.54891C10.0625 0.807844 10.9222 0.373657 11.8335 0.373657L14.5453 0.373657L5.64893 12.3962H30.728Z" fill="#21262C")
    .slider-button-next(class=next)
      svg(width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.271976 12.3962L0.271977 14.7234H25.352L16.4547 26.7473H19.1665C20.0778 26.7473 20.9375 26.3131 21.4934 25.572L22.2359 24.5824L22.3124 24.6147L30.5052 13.5609L30.5049 13.5605L30.5052 13.56L22.3124 2.50623L22.2359 2.53854L21.4934 1.54891C20.9375 0.807844 20.0778 0.373657 19.1665 0.373657L16.4547 0.373657L25.3511 12.3962H0.271976Z" fill="#21262C")

mixin save-item(text)
  .doc__list-save--item
    .doc__list-save--lft
      .text.text--inter16-12=text
    .doc__list-save--rgt
      img(src="./images/save.svg", alt="")